<div class="container-fluid m-0 p-0 ">
  <nav class="navbar navbar-dark bg-dark navbar-expand" style="background-color: #e3f2fd;">
  <a class="navbar-brand p-2 mx-2" href="#"> <h2> Velocis </h2></a>  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" routerLink="registrations">Registration</a> -->
      <a class="nav-item nav-link" routerLink="dashboard">Dashboard</a>
      <!-- <a class="nav-item nav-link" routerLink="table">List</a>  -->
    </div>
  </div>  
  <div class="btn btn-end"> 
    <button class="btn btn-lg bg-danger mx-3" routerLink="../loginpage" routerLinkActive="active"> <i class="fas fa-sign-out-alt size:2x "> </i> 
    </button>
  </div>
  </nav>
</div>

<router-outlet> </router-outlet>